<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.audiotx.audio_bridge"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="30" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application android:label="AudioTX PRO" android:icon="@drawable/icon" android:hasCode="false">
        <activity android:name="android.app.NativeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            
            <meta-data android:name="android.app.lib_name" android:value="audio_bridge" />
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>


